{{#if locationFound}}
  <p>location found</p>
  {{input value=boozeType}}
  <button class="search-btn" {{action 'beginSearch'}}>Search</button>
  {{outlet}}
{{else}}
  <p>searching for location</p>
{{/if}}
